<div class="comments">
    {{#each this}}
    <div class="mt-3 comment">
        <div class="divider">
            <p class="m-0 font-weight-bold blue-comment-heading">{{user.username}}</p>
            <p class="m-0 mb-1 font-italic">{{formatDate created_at}}</p>
        </div>
        <div class="">
            <p class="m-0 mt-1">{{comment_text}}</p>
        </div>
    </div>
    {{/each}}
</div>