<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechBlogsOverload - Blog Posting Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="d-flex w-100 justify-content-between align-items-center p-4 flex-wrap">
        <a href="/"><h1>TechBlogsOverload</h1></a>
        <nav class="d-flex nav-list">
            <ul>
                <a href="/"><li>Home</li></a>
                {{#if loggedIn}}
                <a href="/dashboard"><li>Dashboard</li></a>
                <li class="logout" id="logout">Logout</li>
                {{else}}
                <a href="/login"><li>Login/Create Account</li></a>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{!-- Handlebars will replace {{{body}}} with 
      whatever is passed in when the page is rendered in JavaScript. --}}
        {{{body}}}
    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>