<section class="d-flex p-5 w-100 main-content">
    <div class="w-100 single-post-container">
        <div>
            <h2>Create A New Blog Post</h2>
        </div>
        <hr>
        <div>
            <h2>Your Posts</h2>
            <ol class="w-35 post-list">
                {{#each posts as |post|}}
                <li class="bg-white">
                    {{!-- partial to create each blog post element --}}
                    {{> post-info post}}
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</section>