<section class="d-flex p-5 w-100 main-content edit-post-section">
    <div class="w-100 single-post-container">
        <div>
            <h2 class="main-heading">Edit Blog Post</h2>
        </div>
        {{#if loggedIn}}
        <div class="w-35 mt-3 edit-form-holder">
            <form id="post-form" class="larger-font">
                <div>
                    <label for="post-title" class="font-weight-bold">Title:</label><br>
                    <input type="text" id="post-title" class="input-form" value="{{post.title}}">
                </div>
                <div>
                    <label for="post-body" class="font-weight-bold mt-2">Text:</label><br>
                    <textarea name="post-body" id="post-body" rows="4" class="input-form">{{post.post_text}}</textarea>
                </div>
                <div class="text-right">
                    <button type="submit" class="w-35 mt-3 mb-2 submit-btn update-post-btn">Update Post</button>
                </div>
            </form>
        </div>
        {{/if}}
    </div>
</section>

<script src="/js/edit-post.js"></script>