<section class="w-50 mt-4 p-2">
            <ol class="w-100 h-100 post-list">
                {{#each posts as |post|}}
                <li>
                    {{!-- partial to create each blog post element --}}
                    {{> post-info post}}
                </li>
                {{/each}}
            </ol>
</section>