<section class="d-flex p-5 w-100 main-content">
    <div class="w-100 single-post-container">
        <div>
            <h2 class="font-weight-bold">{{post.title}}</h2>
            <p class="m-0 mt-2">By. {{post.user.username}}</p>
            <p class="m-0 mt-2 font-italic">Posted On: {{formatDate post.created_at}}</p>
        </div>
        <hr>
        <div>
            <p>{{post.post_text}}</p>
        </div>
        <hr>
        <form class="comment-form mb-3">
            <div>
                <textarea name="comment-body" class="larger-font comment-textarea" rows="4"></textarea>
            </div>
            <div class=" mt-2 text-right" style="width: 35%;">
                <button type="submit" class="larger-font submit-btn">Add Comment</button>
            </div>
        </form>
        {{> comments post.comments}}
    </div>
</section>
